@import "src/styles/variables/layout";
@import "src/styles/variables/colors";

.container {
    width: 100%;
    height: 100%;
    background-color: $primary-background-color;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: var(--app-height);
    background-color: $primary-background-color;
    display: flex;
    flex-direction: column;
}