@import 'src/styles/variables/colors';

.conainter {
    width: 50%;
    position: relative;
    height: 35px;
    margin: 25px auto;
    padding: 0 15px;
    border-radius: 24px;
    border: 2px solid $secondary-background-color;
    box-shadow: none;
    display: flex;
    align-items: center;
    color: darken($color: $secondary-background-color, $amount: 20%);

    &:hover {
        box-shadow: 0 1px 6px 0 $secondary-background-color;
    }

}

.search {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 10px;
    color: $primary-text-color;
    outline: none;
    width: 100%;
    
    &:focus {
        outline: none;
    }
}